inicio{
  background: #ECECEC;
 width: 80%;
 margin:0px auto;


}

.lineaP{
  background: #7D9C9F;
 width: 100%;
height:10px;


}

.muert{

text-align: center;
margin-top: 0px;

}
.tTitulo{

  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
.autorT{
  width: 25%;
background: #DFEFF0;
float: left;

}
.truma{
  width: 100%;
 margin: 0px auto;

}
.frase{
  font-style: italic;
  text-align: center;
}
.cuerpo{
  float: left;
background:  #ECECEC;
width: 73%;
margin-left: 10px;

}
.enlaOtros{

 width: 100%;
float: right;
margin-top: 20px;

}
.lineaA{
  background:  #1A202C;
 width: 100%;
height:10px;
float: left;

}


.cuento1{
  width: 50%;
  background: red;
  margin-left: 20%;

    border-radius:100%;
}

td{
  width: 20%;
  background-color: white;
}

.com{

 width: 100%;

}
