.barralateral{
	background: #336600;
}

.titulo{
	position: relative;
	top: 0%;
	margin-left: 15%;
	margin-top: 6%;
}
.contenedorImg{
	width: 60%;
	height: 100%

}

.imagen_muestra{
  width: 400px;
  height: 400px;
 margin-left: 3%;
 position: absolute;
 top: 25%;
 left: 15%;
 margin-top: 5%;


}

.seg-boton{
	position: relative;
	left: 31%;
	top: 0%;
	/*background: red;*/
	width: 400px;
	height: 100%;
}

.boton_charact{
	margin-top: 1px;
	margin-left: 1px;
}
#inp_number{
	float: left;
	margin-top: 3px;
}

.contenedor_videos{
	margin-top: 10%;
	margin-left: 5%;
	width: 70%;
	height: 100%;
	
}

 #map {
        height: 300px;
        width: 30%;
        margin-top: 70%;
        margin-left: 100%
  }
 

.direccion{
	margin-left: 80%;
}

.input_file{
	margin-top: 50%;
}
